<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Create User</h2>
        <form id="createUserForm">
            <input type="text" id="name" name="name" placeholder="Name" required>
            <input type="text" id="lastname" name="lastname" placeholder="Lastname" required>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="number" id="role_id" name="role_id" placeholder="Role ID" required>
            <button type="submit">Create</button>
        </form>
        <p id="message"></p>
    </div>
    <script src="../public/js/user.js"></script>
</body>
</html>
